
.sudoku {
  text-align: center;
}

.sudoku-grid {
  display: grid;
  grid-template-columns: repeat(9, 40px);
  grid-gap: 1px;
}

.sudoku-row {
  display: flex;
}

.sudoku-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 1px solid #000;
  font-size: 20px;
}

