@tailwind base;
@tailwind components;
@tailwind utilities;

.sudoku {
  text-align: center;
}

.sudoku-grid {
  display: grid;
  grid-template-columns: repeat(9, 1fr); /* Cambiado a 1fr para dividir igualmente el ancho en 9 columnas */
  grid-gap: 1px;
  width: max-content; /* Asegura que el ancho de la tabla se ajuste al contenido */
  margin: 0 auto; /* Centra la tabla en el contenedor */
}

.sudoku-row {
  display: flex;
}

.sudoku-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 1px solid #000;
  font-size: 20px;
}
